
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}

/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.col-2 {
    flex-basis: calc((100% / 12) * 2);
}


.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* utility class */

.line-space {
    line-height: 30px;
}

.paragraph-colour {
    color: var(--light);
}


/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid green;
    padding: 10px;
}

.debug .row {
    border: 1px solid red;
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 20px;
}

/* component classes */

.button {
    color: black;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: var(--light);
    border-radius: 20px;
    padding: 0 18px;
    white-space: nowrap;
}

/* inizio header */


.page-header {
    background-color: var(--blue);
    padding: 10px;
    margin-bottom: 50px;
}

.navbar-header {
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--light);
}

.menu-button {
    display: none;
    align-items: center;
    color: var(--light);
}

/* inizio sezione hero */

.hero [class^="col"] {
    padding: 0 15px;
}

.hero {
    margin-bottom: 120px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.card-50 {
    flex-basis: 50%;
}

.card-50 {
    flex-basis: 50%;
}

.card-list-one {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;

}

.hero-card-image {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

.image {
    width: 70%;
    display: block;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 13px;
    height: 100%;
}


.bg-light-blue {
    background-color: var(--light-blue);
    border-radius: 20px;

}

.icons {
    font-size: 60px;
    color: var(--blue);
}

.hero-title {
    color: var(--blue);
}

.hero-button {
    background-color: var(--blue);
    color: var(--light);
    padding: 0 50px;
}

/* inizio sezione 2 */

.section-2 {
    background-color: var(--purple);
    padding: 130px 20px 60px 20px;
}

.section-2 [class^="col"] {
    padding: 0 20px;
}

.planing-title {
    margin: 140px 0 40px 0;
    font-size: 30px;
    color: var(--light);
}

.card-section-2 {
    text-align: center;
    background-color: var(--light);
    border-radius: 50px;
    padding: 40px 30px 30px;
}

.icon-down {
    background-color: var(--purple);
    font-size: 20px;
    padding: 0px 17px;
    line-height: 47px;
    border-radius: 100%;
    display: inline-block;
    margin-top: 20px;
}

.card-body-sct {
    display: flex;
    align-items: flex-end;
}

.card-section-2 > h3 {
    margin-bottom: 30px;
}

/* inizio section 3 */

.section-3 {
    padding: 70px 0;
}

.section-3 [class^="col-12"] {
    padding: 0 15px;
}

.title-section-3 {
    color: var(--purple);
    font-size: 35px;
}

.card_one_sec-3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}

.bg-purple {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--purple);
    border-radius: 20px;
    justify-content: center;
    padding: 20px 10px;
}

.image-section-3 {
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 100%;
}

.testimonial-name {
    color: var(--light);
    text-transform: uppercase;
    margin-top: 20px;
}

.card-text-sec-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
}

.card-image-sec-3 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

/* inizio sezione 4 */

.section-4 [class^="col"] {
    padding: 0 15px;
}

.section-4 {
    background-color: var(--purple);
    padding: 80px 0 60px;
}

.title-section-4 {
    font-size: 35px;
    text-align: center;
    color: var(--light);
    padding-bottom: 40px;
}

.list-body-section-4 {
    background-color: var(--light);
    border-radius: 20px;
    padding: 40px 35px 30px;
}

.benefits-number {
    color: var(--purple);
    font-size: 60px;
    font-weight: bold;
}

.benefits-title {
    color: var(--purple);
    margin: 25px 0;
    font-size: 20px;
    font-weight: bold;
}

.benefit-button {
    background-color: var(--purple);
    padding: 0 50px;
    color: var(--light);
    margin-top: 25px;
}

/* inizio sezione-5 */

.section-5{
    padding: 100px 0 150px;
}
.title-section-5 {
    font-size: 55px;
    color: var(--purple);
}

.section-5 [class^="col"] {
    padding: 0 15px;
}

.text-section-5 {
    margin: 30px 0;
}

.image-section-5 {
    border-radius: 100%;
    height: 250px;
    width: 250px;
}

.image-container {
    position: relative;
}

.quote {
    position: absolute;
    top: 0;
    right: 60px;
    font-size: 80px;
    color: var(--purple);
}

.text-about-us {
    font-size: 25px;
    font-weight: bold;
    color: var(--purple);
    line-height: 40px;
    margin-top: 20px;
}

/* inizio sezione 6 */

.section-6 {
    background-color: var(--purple);
    padding: 70px 0;
}

.card-section-6 {
    text-align: center;
    color: var(--light);
}

.start-text {
    color: #d3c4d79c;
    margin-bottom: 10px;
}

.simple-text {
    font-size: 30px;
    font-weight: bold;
}

.free-text {
    color: orange;
    font-size: 60px;
    font-weight: bolder;
    margin: 20px 0;
}

.buy-button {
    padding: 0 50px;
    line-height: 50px;
    border-radius: 50px;
    margin: 20px 0;
    color: var(--purple);
}


/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
    /* header */
    .menu-button {
        display: flex;
    }
    
    .navbar-list {
        display: none;
    }

    /* sezione-hero */

    .card-50 {
        flex-basis: 100%;
    }

    /* sezione-2 */

    .col-section-2 {
        flex-basis: 100%;
    }

    .planing-title {
        font-size: 50px;
    }

    .hero-card-image {
        justify-content: flex-start;
    }

    /* sezione-4 */

    .section-4 [class^="col-4"] {
        flex-basis: 50%;
    }


}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {

    /* sezione-hero */
    
    .col-hero {
        flex-basis: 100%;
    }

    /* sezione-2 */

    .hero-card-image {
        justify-content: space-around;
    }

    .planing-title {
        font-size: 30px;
    }


      /* sezione-3 */

      .col-40 {
        flex-basis: 40%;
      }

      .card-text-sec-3 {
        flex-basis: 100%;
        text-align: center;
        padding-left: 0px;
      }

      /* sezione-4 */

      .section-4 [class^="col-4"] {
        flex-basis: 100%;
    }

       /* sezione-5 */

       .section-5 [class^="col"] {
        flex-basis: 100%;
       }

       /* sezione-6 */

       .text-space{
        display: none;
       }
 }  



