
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}
/* palette colori */

:root {
    --blue:#0084FD;
    --light-blue:#B5DDFF;
    --purple:#9792E4;
    --yellow:#FDC15F;
    --dark-grey:#333333;
    --light:#FFFFFF;

}
/* layouts */

.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* debug */

.debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid green;
    padding: 10px;
}

.debug .row {
    border: 1px solid red;
    padding: 10px;
}
.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
}


/* component classes */

.button {
    color: black;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: var(--light);
    border-radius: 20px;
    padding: 0 18px;
    white-space: nowrap;
}

/* inizio header */


.page-header {
    background-color: var(--blue);
    padding: 10px;
}

.navbar-header {
    justify-content: space-between;
}

.navbar-list {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--light);
}

.menu-button {
    display: none;
    align-items: center;
    color: var(--light);
}

/* inizio sezione hero */

.hero [class^="col"] {
    padding: 15px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
}

.card-50 {
    flex-basis: 50%;
}
.card-list-one {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 15px;
}

.hero-card-image {
    display: block;
    max-width: 80%;
}

.card-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 13px;
}


.bg-light-blue {
    background-color: var(--light-blue);
    border-radius: 20px;

}

.icons {
    font-size: 60px;
    color: var(--blue);
}

.hero-title {
    color: var(--blue);
}

.hero-button {
    background-color: var(--blue);
    color: var(--light);
    padding: 0 50px;
}



/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    
    .menu-button {
        display: flex;
    }
    
    .navbar-list {
        display: none;
    }

}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    
 }


